{% extends 'admin_side/base.html' %}
{% load static %}


{% block title %}Brands{% endblock title %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Add Brand</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" action="{% url 'adminpanel:add_brand' %}">
                        {% csrf_token %}
                        <div class="d-flex flex-column align-items-center"> <!-- Center the form -->
                            <div class="mb-3">
                                <label for="{{ form.name.id_for_label }}">Brand Name</label>
                                <input type="text" class="form-control" id="brand_name" name="brand_name" >
                            </div>

                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a href="{% url 'adminpanel:brand_list' %}" class="btn btn-secondary ms-2">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}