{% extends 'admin_side/base.html' %}
{% load static %}

{% block title %}Add Coupon{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3" style="margin-top: 70px;">
            <h3>Add Coupon</h3>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="coupon_code">Coupon Code</label>
                    <input type="text" class="form-control" id="coupon_code" name="coupon_code" required>
                </div>
                <div class="form-group">
                    <label for="discount_amount">Discount Amount</label>
                    <input type="number" class="form-control" id="discount_amount" name="discount_amount" required>
                </div>
                <div class="form-group">
                    <label for="minimum_amount">Minimum Amount</label>
                    <input type="number" class="form-control" id="minimum_amount" name="minimum_amount" required>
                </div>
                <div class="form-group">
                    <label for="valid_from">Valid From</label>
                    <input type="date" class="form-control" id="valid_from" name="valid_from" required>
                </div>
                <div class="form-group">
                    <label for="valid_to">Valid To</label>
                    <input type="date" class="form-control" id="valid_to" name="valid_to" required>
                </div>
                <button type="submit" class="btn btn-primary">Add Coupon</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
