{% extends 'admin_side/base.html' %}
{% load static %}


{% block title %}Ordered Product Details{% endblock title %}


{% block content %}

<div class="container">
    <h1>Ordered Product Details for Order ID: {{ order.order_number }}</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    
                    <!-- Add other order product-related columns as needed -->
                </tr>
            </thead>
            <tbody>
                {% for ordered_product in ordered_products %}
                <tr>
                    <td>{{ ordered_product.product.product_name }}</td>
                    <td>{{ ordered_product.quantity }}</td>
                    <td>${{ ordered_product.product_price }}</td>
                 
                    <!-- Add other order product-related data as needed -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <form action="{%url 'adminpanel:update_order_status' order_id=order.id%}" method="post">
        {% csrf_token %}
        <div class="input-group">
        <select name="status" class="form-group" name="status">
            {% for status_value, status_label in order.STATUS %}
                <option value="{{ status_value }}" {% if order.status == status_value %}selected{% endif %}>{{ status_label }}</option>
            {% endfor %}
        </select>
        
        <button class="btn btn-primary" type="submit"> Apply</button>
        </div>
    </form>

    


</div>


{% endblock %}
