asgiref==3.7.2
bleach==6.0.0
certifi==2023.7.22
charset-normalizer==3.2.0
cycler==0.11.0
Django==4.2.3
django-appconf==1.0.5
django-chartjs==2.3.0
django-image-cropping==1.7
django-otp==1.2.2
django-smtp-ssl==1.0
docutils==0.20.1
fonttools==4.42.0
idna==3.4
importlib-metadata==6.8.0
jaraco.classes==3.3.0
keyring==24.2.0
kiwisolver==1.4.4
markdown-it-py==3.0.0
matplot==0.1.9
matplotlib==3.7.2
mdurl==0.1.2
more-itertools==10.1.0
numpy==1.25.2
packaging==23.1
Pillow==10.0.0
Pygments==2.16.1
pyloco==0.0.139
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
pywin32-ctypes==0.2.2
readme-renderer==40.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.5.2
SimpleWebSocketServer==0.1.2
six==1.16.0
sqlparse==0.4.4
twine==4.0.2
typing==3.7.4.3
tzdata==2023.3
urllib3==2.0.4
ushlex==0.99.1
webencodings==0.5.1
websocket-client==1.6.1
zipp==3.16.2
